extends index.jade

block content
    .row
        .col-md-10.col-md-push-2 LOGO
        .col-md-2.col-md-pull-10 clan tag and name
    .row
        table.table.table-striped
            thead
                tr
                    td No.
                    td Name
                    td Position
            tbody
                tr
                    td 1
                    td John
                    td Soldier
                tr
                    td 2
                    td Jack
                    td Soldier
                tr
                    td 3
                    td Jill
                    td Soldier
                tr
                    td 4
                    td Jones
                    td Commander
                tr
                    td 5
                    td James
                    td Soldier
                tr
                    td 6
                    td Jade
                    td Deputy Commander