<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="/css/styles.less"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">WOTClans</a>
        <!-- NAVBAR -->

        <div class="nav navbar-nav navbar-right">
            <span class="navbar-text copyleft"><i>by</i> <strong>[PRZT]</strong></span>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-push-2">LOGO</div>
            <div class="col-md-2 col-md-pull-10">clan tag and name</div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Soldier</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jack</td>
                    <td>Soldier</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jill</td>
                    <td>Soldier</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jones</td>
                    <td>Commander</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>James</td>
                    <td>Soldier</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Jade</td>
                    <td>Deputy Commander</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
