@images: "../images";

@content-width: 1200px;

@grid-columns: 12;
@grid-gutter-width: 30px;
@grid-float-breakpoint: @content-width - 200px;

@bg-color-main: rgba(35, 43, 48, 0.7);

.right {
  float: right;
}
.left {
  float: left;
}
.centered-div {
  margin: 0 auto 0 auto;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}



.alert-danger {
  background-color: rgba(238, 95, 91, 0.5);
  border-color: rgba(237, 77, 99, 0.5);
}

.alert-warning {
  background-color: rgba(248, 148, 6, 0.5);
  border-color: rgba(233, 101, 6, 0.5);
}

.alert-info {
  background-color: rgba(91, 192, 222, 0.5);
  border-color: rgba(61, 206, 216, 0.5);
}

.alert-success {
  background-color: rgba(98, 196, 98, 0.5);
  border-color: rgba(98, 189, 79, 0.5);
}

.clan-name {
  text-shadow: 2px 2px 20px rgb(0, 0, 0);

  .abbr {
    color: rgb(255, 255, 255);

    &:before, &:after {
      color: rgb(225, 128, 0);
    }
  }

  .name {
    color: rgb(249, 208, 136);
  }
}

.clan-motto {
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
}

table {
  th.left, td.left {
    .text-left;
  }

  th.centered, td.centered {
    .text-center;
  }

  th.right, td.right {
    .text-right;
  }


  &.clan-personnel {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

    tr {
      &.leader td.member_role {
        color: rgb(255, 195, 100);
      }
      &.vice_leader td.member_role {
        color: rgb(255, 220, 164);
      }
    }
  }
}

