block-login
    .block-login
            ul.nav.navbar-nav.navbar-right
                if session && session.user && session.user.authorized
                    li
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | #{session.user.nickname}&nbsp;&nbsp;
                                b.caret
                            ul.dropdown-menu
                                li.dropdown-header Some options
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li.dropdown-header Some other options
                                li.text-right
                                    a(href="/logout") Logout
                else
                    li
                        a(href="/login/test") Simulate login
                    li
                        a(href="/login") Sign in



